.a {
    
    color: rgb(64, 155, 230);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
}

.b {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: larger;
    font-weight: 100;
    text-align: center;
}
.c
{
    font-size: medium;
    text-align: center;
    color: rgb(19, 18, 18);
}
.d
{

    text-align: center;
}
.e
{
    
    text-align: center;
}
